/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2017, 1:44:44 PM
    Author     : scott
*/
body {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.largeblackcard {
    border-radius: 10px;
    margin-left: 10px;
    border:1px solid black; 
    padding: 30px 10px 5px 10px; 
    background-color: Black; 
    width: 150px; 
    height: 200px; 
    color:White; 
    float:left
}

.largewhitecard {
    border-radius: 10px;
    margin-left: 10px;
    border:1px solid black; 
    padding: 30px 10px 5px 10px; 
    background-color: White; 
    width: 150px; 
    height: 200px; 
    color:Black; 
    position:relative;
}

.smallblackcard {
    border-radius: 10px;
    border:1px solid black; 
    padding: 10px 10px 10px 10px; 
    background-color: Black; 
    color:White; 
}

.smallwhitecard {
    border-radius: 10px;
    border:1px solid black; 
    padding: 10px 10px 10px 10px; 
    background-color: White; 
    color:Black; 
}

.hiddenPlayerName {
    
    display:none;
    
}

.cardOrder {
    display:none;
}

.tableHeader {
    background-color:black; 
    color:white; 
    padding: 5px 5px 5px 5px; 
    text-align:center;
}

#header {
     border: 1px black solid;
     height: 157px;
     width: 100%;
}

#logoSection {
    float:left;
}

#generateRoomSection {
    float:left; 
    padding: 10px 10px 10px 10px;
    display:none;
}

#statusSection {
    float:left; 
    padding: 10px 10px 10px 10px;
    display:none;
}

#scoreSection {
    clear:both; 
    float:left; 
    padding-right:40px;
}


#playersTable {
    border: 1px black solid; 
    width: 240px;
    border-collapse: separate;
    border-spacing: 0px;
}

#playersTable th {
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
}

#playersTable td {
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
}

label
{
    width: 6em;
    float: left;
    text-align: left;
    margin-right: 0.5em;
    display: block
}

.login input {
   margin-left: 4.5em; 
}

.actionButtons {
    clear:both;
    margin-top: 20px;
}

#judgeStartNewRound {
    display:none;
    margin-top: 20px;
}

#restartGame {
    position:absolute;
    border-radius: 10px;
    background-color:black;
    color:white;
    top:170px;
    left:20px;
    display:none;
    border: 1px black solid;
    padding: 5px 5px 20px 40px;
    width: 300px;
}

#otherPlayerCards {
    margin-top:10px;
    display:none;
}

.answerCardPlayerName {
    margin:0px;
    background-color:black;
    color:white;
    display:none;
}